.ccard1 {
  width: 400px;
  height: 625px;
  margin: 0.5rem;
  padding: 1.5rem;
  background-color: #fff6f0;
  text-align: justify;
}

.ccard2 {
  width: 400px;
  height: 625px;
  margin: 0.5rem;
  padding: 1.5rem;
  background-color: #4276ad;
  color: #fff6f0;
  text-align: justify;
}

.cimg {
  width: 155px;
  height: auto;
}

@media (max-width: 800px ) {
    .ccarousel1{
        display: none;
    }
}

@media (min-width: 800px ) {
    .ccarousel2{
        display: none;
    }
}

/*.ccarousel1

.ccarousel2