.clogos {
  height: 2rem;
}

@media (max-width: 614px) {
  .ccontlogos {
    flex-direction: column;
  }
}

.ccontlogos {
  background-color: #fff6f0;
}

.medios {
  color: #7b823b;
}

@media (max-width: 614px) {
  .clogos2 {
    flex-direction: column;
  }
}
