.s-title-seccion{
    margin-top: 30px;
    text-align: center;
    width: 100%;
    height: fit-content;
}
.s-section2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: fit-content;
}
.s-product-main-container{
    margin-top: 40px;
}
.s-img-div{
    min-width: 280px;
    max-width: 500px;
    height: 300px;
    border-radius: 10px;
    margin: 10px;
}
.s-product1{
    background-image: url('./img/regular-product.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.s-product2{
    background-image: url('./img/album-product.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.s-product3{
    background-image: url('./img/mugs-products.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.s-product4{
    background-image: url('./img/calendario-product.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.s-product-info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 280px;
    margin:10;
    max-width: 500px;
    min-height: 280px;
    max-height: fit-content;
    margin: 10px;
    border-radius: 10px;
    background-color: #ffffffcc;
    padding: 20px 25px;
}

.s-button-product-container{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.s-product-button {
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid #4f4f4f;
    border-radius: 10px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 19px;
    color: black;
    z-index: 1;
    min-width: 200px;
    max-width: 350px;
   }
   
   .s-product-button:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
   }
   
   .s-product-button:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #39bda7;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
   }
   
   .s-product-button:hover {
    color: #ffffff;
    border: 1px solid #39bda7;
   }
   
   .s-product-buttont:hover:before {
    top: -35%;
    background-color: #39bda7;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
   }
   
   .s-product-button:hover:after {
    top: -45%;
    background-color: #39bda7;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
   }

@media(max-width: 433px){
    .s-button-product-container{
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }
    .s-product-button{
        width: 100%;
    }
}
@media(min-width: 1010px){
    .s-button-product-container{
        flex-direction: row;
        justify-content: flex-start;
        gap: 10px;
    }
    .s-product-main-container{
        display: flex;
        align-items: center;
    }
    /* Section de info del producto */
    .s-product-info-container{
        position: relative;
        right: 60px;
        z-index: 50;
        height: 200px;
        width: 450px;
        margin:0;
    }
    /* div de la imagen */
    .s-img-div{
        width: 500px;
        margin: 0;
    }
}


/* INICIO Section 3 */
.s-section3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #eda0a8;
    gap: 0px;
    width: 100%;
}
.s-w-info-container{
    display: flex;
    justify-content: center;
    width: 500px;
    border-radius: 5px;
}
/* FINAL Section 3 */
.s-w-steps-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    background-color: rgba(0, 255, 255, 0);
    width: 500px;
    border-radius: 5px;
    padding: 10px;
    padding-bottom: 40px;
    color: white;
}
.s-w-steps-container h2{
    font-size: 45px;
}
.s-w-step{
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 7px;
    background-color: #ffffff;
    border-radius: 10px;
    width: 80%;
   /*  box-shadow: 0px 5px 8px 1px #c2c2c2b6; */
   color: gray;
}

.s-w-step h3{
    margin: 0;
}
.treeSection{
    display: flex;
    justify-content: center;
    width: 100%;
    height: fit-content;
    background-color: white;
}
.treeSection-div{
    width: 900px;
    height: 500px;
    background-image: url('./img/treeImage.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

@media(max-width: 300px) {
    .treeSection-div{
        display: flex;
        width: 300px;
    }
}